rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clients/{document} {
      allow read, write: if true;
    }
    match /tasks/{document} {
      allow read, write: if true;
    }
    match /staff/{document} {
      allow read, write: if true;
    }
    match /profile/{document} {
      allow read, write: if true;
    }
  }
}
